body{
  font-family:sanserif;
}
  .error{
    display:none;
  }
 

#ag{
  background-color: #0D47A1;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  border-radius:25px;
  font-size: 14px;
  margin: 10px 2px;
   border: 2px solid white;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  cursor: pointer;
  /*text-shadow: 3px -1px 0px rgba(255,255,255,.5); /* 50% white from top */
}



#ag:hover {
  background-color: #1976D2;
   border-radius:25px;
  color: white;
}
#ag[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
   border-radius:25px;
  color: #1976D2;
  cursor:text;
}

#loginform{
  width: 200px;
  border: 1px solid black ;
  border-radius:25px;
  color: #0D47A1;
  padding: 50px;
  margin: 20px;
}
#about{
 width: 300px;
 text-align:right;
}
#rpin{
  border: 1px solid #0D47A1;
  
}
#rpin:oninput
{
  border: 1px solid #1976D2;
  
}
  
